.composeMail {
  position: absolute;
  right: 50px;
  bottom: 0px;
  background-color: rgb(65, 37, 92);
  width: 50%;
  height: 490px;
  max-width: 65rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid whitesmoke;
  box-shadow: 8px 5px 7px 8px rgba(0, 0, 0, 0.24);
}

.composeMail_header {
  padding: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  height: 4.7rem;
  font-weight: 0.2rem;
}

.composeMail_header button {
  width: 2.2rem;
  background-color: #f5096b;
  border: none;
  height: 2.3rem;
  font-size: 2rem;
  padding-bottom: 5px;
  border-radius: 5px;
  color: white;
  margin-top: 20px;
  margin-bottom: 35px;
  box-shadow: 2px 2px 3px black;
}

.composeMail_header button:hover {
  background-color: #f8abcb;
  color: #f5096b;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}

.compose_input input {
  height: 3rem;
  border: none;
  border-bottom: 1px solid gray;
  padding: 8px;
  width: 100%;
}

.compose_input input::placeholder {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight: 500;
  font-size: 1rem;
}

.sendMail {
  width: 12rem;
  background-color: #f5096b;
  border: none;
  height: 2.5rem;
  margin-top: 20px;
  border-radius: 100px;
  color: white;
  font-size: 18px;
  margin-top: 20px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  margin-bottom: 35px;
  box-shadow: 2px 2px 3px black;
}

.sendMail:hover {
  background-color: #f8abcb;
  color: #f5096b;
  box-shadow: 2px 2px 3px black;
  cursor: pointer;
}

.editor {
  padding: 0.5rem;
  width: 100%;
}
.editor_label {
  color: gray;
  font-weight: 500;
  font-size: 1rem;
}

.editor {
  background-color: white;
  text-align: left;
}
