.header {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(65, 37, 92);
  padding: 0 10%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.logo {
  font-family: 'Times New Roman';
  font-size: 2rem;
  color: white;
  margin: 0;
}

.header ul {
  list-style: none;
  margin: 0;
 padding-top: 20px;
  display: flex;
  align-items: left;
}

.header li {
  margin: 0 1rem;
}

.header a {
  text-decoration: none;
  color:  white;
  font-weight: bold;
  font-size: 20px;
}

.header button {
  font: inherit;
  color: white;
  background-color: rgb(65, 37, 92);
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  height: 38px;
  width: 65px;
  position: relative;
  bottom: 6px;
  border: none;
}

.header button:hover{
    background-color: rgb(215, 171, 245);
    color:rgb(65, 37, 92) ;
}

.header a:hover {
  color: rgb(215, 171, 245);
}

