.mailBody {
  display: flex;
  align-items: center;
  border-bottom: 1px solid whitesmoke;
  padding: 0px 10px;
  height: 40px;
}

.mailBody:hover {
  box-shadow: 2px 2px 4px whitesmoke;
  cursor: pointer;
}

.mailBody_left {
  display: flex;
  align-items: center;
  min-width: 300px;
  flex: 20%;
}

.mailBody_left svg {
  font-size: 18px;
  color: gray;
  margin-right: 15px;
}

.mailBody_left h4.read {
  font-weight: 400;
  font-size: 15px;
}
.mailBody_middle {
  display: flex;
  align-items: center;
  flex: 90%;
}
.mailBody_middle_msg {
  display: flex;
  align-items: center;
}

.mailBody_middle_msg svg {
  color: lightslategray;
  padding-right: 10px;
}
.mailBody_middle b {
  padding-right: 10px;
  color: black;
  font-size: 15px;
  font-weight: 400;
}

.mailBody_middle b.unread {
  font-weight: 800;
}
.mailBody_middle h6 {
  display: flex;
  align-items: center;
  color: lightslategray;
  font-size: 12px;
  width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mailBody_right {
  display: flex;
  align-items: center;
  flex: 12%;
}

.mailBody_right p {
  font-size: 12px;
  color: lightslategray;
}

.mailBody_right p.unread {
  font-size: 12px;
  font-weight: 800;
}
.mailBody_left h1 {
  color: rgb(209, 182, 235);
  padding-right: 5px;
  padding-bottom: 7px;
}
